// SASS section comment 1
// ---------------------------
.base-module {
  attribute: value;
}
.base-module--part {
  attribute: value;
}
.base-module--part__variant {
  attrixute: value;
}



// ===========================
// SASS section comment 2
// ===========================
.base-module__variant {
  attribute: value;
}




//
//  SASS section comment 3
//
.base-module__variant {
  attribute: value;
}




//   SASS section comment 4   \\
.base-module__variant {
  attribute: value;
}




  //============================\\
 // *  SASS section comment 5  * \\
//================================\\
.base-module__variant {
  attribute: value;
}




//+++++++++++++++++++++++++++++++++++++++
//++++++++ SASS section comment 6 +++++++ 
//+++++++++++++++++++++++++++++++++++++++
.base-module__variant {
  attribute: value;
}